.jogo-container {
    display: flex;
    flex-direction: column; /* Mantenha como coluna */
    align-items: center;    /* Centraliza os itens horizontalmente */
    width: 80%;
    position: relative;     /* Para que o ícone possa ser posicionado absoluto */
}


.jogo {
    display: flex;
    flex-direction: row;
}

.jogo-dentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letras-jogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
    margin-top: 10px;
    overflow: auto;
    overflow-y: visible;
}

.footer {
    width: 100%;
    padding: 20px; 
    background-color: #f8f8f8; 
    text-align: center; 
    margin-top: 40px; 
}


.letras-opcoes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
    margin-top: 10px;
    overflow: auto;
    overflow-y: visible;
}

.img-jogo{
  margin-right: 10rem;
  margin-top: 3rem;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../../assets/OpenDyslexic-Bold.otf') format('truetype'); /* Ajuste o nome do arquivo conforme necessário */
    font-weight: normal;
    font-style: normal;
}

.texto-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'OpenDyslexic', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}