.jogo-container {
    display: flex;
    flex-direction: column; /* Mantenha como coluna */
    align-items: center;    /* Centraliza os itens horizontalmente */
    width: 80%;
    position: relative;     /* Para que o ícone possa ser posicionado absoluto */
}

.sound-icon {
    position: absolute;     /* Posiciona o ícone em relação ao container */
    top: 20px;              /* Ajuste a distância do topo conforme necessário */
    right: 20px;            /* Ajuste a distância da direita conforme necessário */
    cursor: pointer;        /* Muda o cursor para indicar que é clicável */
    font-size: 24px;       /* Tamanho do ícone */
    color: #333;           /* Cor do ícone */
}

.jogo {
    display: flex;
    flex-direction: row;
}

.jogo-dentro {
    display: flex;
    flex-direction: column;
}

.letras-jogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
    margin-top: 10px;
    overflow: auto;
    overflow-y: visible;
}

.footer {
    width: 100%;
    padding: 20px; 
    background-color: #f8f8f8; 
    text-align: center; 
    margin-top: 40px; 
}


.letras-opcoes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
    margin-top: 10px;
    overflow: auto;
    overflow-y: visible;
}

.img-jogo{
  margin-right: 10rem;
  margin-top: 3rem;
}